# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.DGM260R Mobile Game.iml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Benjamin Hood\Documents\GitRepo\DGM260RSpring\DGM260R Mobile Game\.idea\.idea.DGM260R Mobile Game\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
